{% extends "base.html" %} {% block content %} {% load change_gender %}
<style type="text/css">
  h1#title {
    color: white;
  }

  .mytr1 {
    background: #D9F9D0
  }

  .mytr2 {
    background: #C1F8BA
  }

  .myth {
    background: #003333
  }

  .th_text {
    color: #ffffff
  }
</style>
<div id="header">
  <h1 id="title">通讯录</h1>
</div>
<hr>
<div id="content-main">
  <table border="0" width="500">
    <tr align="right">
      <td>
        <form method="GET" action="/address/search/">
          搜索姓名：
          <input name="search" type="text" value="{{ searchvalue }}" />
          <input type="submit" value="提交" />
        </form>
      </td>
    </tr>
  </table>
  <table border="0" width="500">
    <tr align="right">
      <td>{% if has_previous %}
        <a href="/address?page={{ previous }}">上一页</a>
        {% endif %} {% if has_next %}
        <a href="/address?page={{ next }}">下一页</a>
        {% endif %}</td>
    </tr>
  </table>
  <table border="0" width="500" cellspacing="2">
    <tr class="myth">
      <th>
        <span class="th_text">姓名</span>
      </th>
      <th>
        <span class="th_text">性别</span>
      </th>
      <th>
        <span class="th_text">电话</span>
      </th>
      <th>
        <span class="th_text">手机</span>
      </th>
      <th>
        <span class="th_text">房间</span>
      </th>
    </tr>
    {% for person in object_list %}
    <tr class="{% cycle 'mytr1' 'mytr2' %}">
      <td>{{ person.name }}</td>
      <td>{{ person.gender|change_gender }}</td>
      <td>{{ person.telphone }}</td>
      <td>{{ person.mobile }}</td>
      <td>{{ person.room }}</td>
    </tr>
    {% endfor %}
  </table>
  <table border="0" width="500">
    <tr>
      <td>
        <form enctype="multipart/form-data" method="POST" action="/address/upload/">
          文件导入：
          <input type="file" name="file" />
          <br/>
          <input type="submit" value="上传文件" />
        </form>
      </td>
      <td>
        <p>
          <a href="/address/output/">导出为csv文件</a>
        </p>
      </td>
    </tr>
  </table>
</div>
{% endblock %}